:root {
    --bg-gredient: linear-gradient(45deg, #303f9f, #7b1fa2);
    --color-boxshadow: 3px 3px 20px 0 rgba(123, 31, 162, 0.5);
    --main-gredient: linear-gradient(45deg, #303f9f, #7b1fa2);
    --sidebar-with: 250px;
    --sidebar-variant-with:60px;
    --primary-transition:all .3s ease-out;
    --app-bar-h:64px;
    --md-app-bar-h:56px; 
    
}
